<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- Endpoint -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Endpoint</string>
			<key>footerText</key>
			<string>GET sends the data in the query string while POST sends the data in a JSON-formatted request body (Content-Type: application/json).</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>url</string>
			<key>label</key>
			<string>URL:</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<string>POST</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>method</string>
			<key>validTitles</key>
			<array>
				<string>GET</string>
				<string>POST</string>
			</array>
			<key>validValues</key>
			<array>
				<string>GET</string>
				<string>POST</string>
			</array>
		</dict>

		<!-- Authentication -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Authentication</string>
			<key>footerText</key>
			<string>Param/Header Name is used to determine the name of the parameter to pass. For example, header authentication is typically passed through the 'Access-Token' header. If you are using the Request Body option and your API takes a parameter named 'token', you would enter 'token' as the name.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>authenticationMethod</string>
			<key>validTitles</key>
			<array>
				<string>None</string>
				<string>Header</string>
				<string>Request Body</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>paramName</string>
			<key>label</key>
			<string>Param/Header Name:</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>key</string>
			<key>label</key>
			<string>Value:</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>

		<!-- App List -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>appListIsBlacklist</string>
			<key>validTitles</key>
			<array>
				<string>Blacklist</string>
				<string>Whitelist</string>
			</array>
			<key>validValues</key>
			<array>
				<true/>
				<false/>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>NSPAppListController</string>
			<key>icon</key>
			<string>app_list</string>
			<key>label</key>
			<string>App List</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>App Customization</string>
			<key>icon</key>
			<string>app_list</string>
			<key>detail</key>
			<string>NSPCustomizeAppsController</string>
			<key>isCustomService</key>
			<true/>
			<key>defaultIncludeIconKey</key>
			<string>includeIcon</string>
			<key>defaultIncludeImageKey</key>
			<string>includeImage</string>
		</dict>

		<!-- Options -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
			<key>footerText</key>
			<string>The server may reject the request if the data is too large, which is usually a result of the image being high resolution. Pusher will try to forward the notification 5 times, shrinking the image each time. If by the last retry the image is too large, it will remove the image but set the "image" property to a 1 to indicate that an image is attached.

The following properties will be passed to the URL endpoint (via GET or POST parameters) specified above (property names in parentheses) [Must Turn on "Include Icon" and "Include Image" switches above in order to get the corresponding properties below]:

App Name (appName), App Bundle ID (appID), Title (title), Subtitle (subtitle), Message (message), Date (date), Base64 Encoded PNG Icon 58x58 (icon), Base64 Encoded Image (image)</string>
		</dict>

		<!-- Date Format -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>INSTRUCTIONS:
1. Click 'Open Date Format Instructions' above (https://nsdateformatter.com).
2. Using the reference and examples, create your desired date format and enter it above. If you don't care about the date, you may leave it as the default

Example formats for Saturday, April 13, 2019 @ 3:12 AM:
EEEE, MMM d, yyyy = Saturday, Apr 13, 2019
MM/dd/yyyy = 04/13/2019
MM-dd-yyyy HH:mm = 04-13-2019 03:12
MMM d, h:mm a = Apr 13, 3:12 AM
E, d MMM yyyy HH:mm:ss Z = Sat, 13 Apr 2019 03:12:11 +0000
yyyy-MM-dd'T'HH:mm:ssZ = 2019-04-13T03:12:11+0000
dd.MM.yy = 13.04.19
HH:mm:ss.SSS = 03:12:11.678
</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Open Date Format Instructions</string>
			<key>action</key>
			<string>openDateFormatInstructions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>key</key>
			<string>dateFormat</string>
			<key>label</key>
			<string>Date Format:</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>Custom Service</string>
</dict>
</plist>
