<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- Credentials -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credentials</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Open Pushbullet Account</string>
			<key>action</key>
			<string>openPushbulletAccount</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>key</key>
			<string>PushbulletToken</string>
			<key>label</key>
			<string>Access Token:</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>

		<!-- App List -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>PushbulletAppListIsBlacklist</string>
			<key>validTitles</key>
			<array>
				<string>Blacklist</string>
				<string>Whitelist</string>
			</array>
			<key>validValues</key>
			<array>
				<true/>
				<false/>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>App List</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string>PushbulletBL-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.noahsaso.pusher.plist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>App Customization</string>
			<key>detail</key>
			<string>NSPCustomizeAppsController</string>
			<key>service</key>
			<string>Pushbullet</string>
			<key>defaultDevicesKey</key>
			<string>PushbulletDevices</string>
		</dict>

		<!-- Options -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
			<key>footerText</key>
			<string>SETUP:
1. Click 'Open Pushbullet Account' above (https://www.pushbullet.com/#settings/account).
2. Scroll down and click 'Create Access Token' on your account page.
3. Copy the displayed access token into the associated field above.
4. Click 'Receiving Devices' to validate your credentials and load the receiving device list.</string>
		</dict>
	</array>
	<key>title</key>
	<string>Pushbullet</string>
</dict>
</plist>
