<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!-- Where to Download -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Where to Download</string>
			<key>footerText</key>
			<string>Pusher Receiver is an awesome browser extension made by @burkybang to display pushes as desktop notifications.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Open Firefox Extension</string>
			<key>icon</key>
			<string>firefox</string>
			<key>action</key>
			<string>openPusherReceiverFirefoxExtension</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Open Chrome Extension</string>
			<key>icon</key>
			<string>chrome</string>
			<key>action</key>
			<string>openPusherReceiverChromeExtension</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Developer: @burkybang</string>
			<key>icon</key>
			<string>twitter</string>
			<key>action</key>
			<string>openTwitterBurkybang</string>
		</dict>

		<!-- Database -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Database</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>key</key>
			<string>Pusher ReceiverDBName</string>
			<key>label</key>
			<string>Database Name:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>key</key>
			<string>Pusher ReceiverKey</string>
			<key>label</key>
			<string>API Key:</string>
		</dict>

		<!-- App List -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>Pusher ReceiverAppListIsBlacklist</string>
			<key>validTitles</key>
			<array>
				<string>Blacklist</string>
				<string>Whitelist</string>
			</array>
			<key>validValues</key>
			<array>
				<true/>
				<false/>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>NSPAppListController</string>
			<key>icon</key>
			<string>app_list</string>
			<key>label</key>
			<string>App List</string>
			<key>ALSettingsKeyPrefix</key>
			<string>Pusher ReceiverBL-</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>App Customization</string>
			<key>icon</key>
			<string>app_list</string>
			<key>detail</key>
			<string>NSPCustomizeAppsController</string>
			<key>service</key>
			<string>Pusher Receiver</string>
			<key>defaultIncludeIconKey</key>
			<string>Pusher ReceiverIncludeIcon</string>
			<key>defaultIncludeImageKey</key>
			<string>Pusher ReceiverIncludeImage</string>
		</dict>

		<!-- Options -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
			<key>footerText</key>
			<string>The server may reject the request if the data is too large, which is usually a result of the image being high resolution. Pusher will try to forward the notification 5 times, shrinking the image each time. If by the last retry the image is too large, it will remove the image but leave an indication that one is attached so the application may display a placeholder.</string>
		</dict>

		<!-- Date Format -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>INSTRUCTIONS:
1. Click 'Open Date Format Instructions' above (https://nsdateformatter.com).
2. Using the reference and examples, create your desired date format and enter it above. If you don't care about the date, you may leave it as the default

Example formats for Saturday, April 13, 2019 @ 3:12 AM:
EEEE, MMM d, yyyy = Saturday, Apr 13, 2019
MM/dd/yyyy = 04/13/2019
MM-dd-yyyy HH:mm = 04-13-2019 03:12
MMM d, h:mm a = Apr 13, 3:12 AM
E, d MMM yyyy HH:mm:ss Z = Sat, 13 Apr 2019 03:12:11 +0000
yyyy-MM-dd'T'HH:mm:ssZ = 2019-04-13T03:12:11+0000
dd.MM.yy = 13.04.19
HH:mm:ss.SSS = 03:12:11.678
</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Open Date Format Instructions</string>
			<key>action</key>
			<string>openDateFormatInstructions</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>detail</key>
			<string>PSDetailController</string>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>key</key>
			<string>Pusher ReceiverDateFormat</string>
			<key>label</key>
			<string>Date Format:</string>
			<key>noAutoCorrect</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>Pusher Receiver</string>
</dict>
</plist>
