<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<!--  Enable Switch -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Global</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>key</key>
			<string>Enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Global App Blacklist</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALChangeNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>System Applications</string>
				</dict>
				<dict>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
					<key>title</key>
					<string>User Applications</string>
				</dict>
			</array>
			<key>ALSettingsKeyPrefix</key>
			<string>GlobalBL-</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.noahsaso.pusher.plist</string>
		</dict>

		<!-- When to Push -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>When to Push</string>
			<key>footerText</key>
			<string>SUFFICIENT NOTIFICATION SETTINGS: Each app has custom notification settings that determine where their notifications are allowed to show (in the Settings.app > Notifications list). In order to prevent notifications which you have disabled from being pushed with Pusher, this option allows you to select which location settings must be enabled in order to forward them with Pusher. Default: Anything Except Disallowed. LS = Lock Screen, NC = Notification Center</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>WhenToPush</string>
			<key>validTitles</key>
			<array>
				<string>Locked</string>
				<string>Either</string>
				<string>Unlocked</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>6</integer>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>SufficientNotificationSettings</string>
			<key>label</key>
			<string>Sufficient Notification Settings</string>
			<key>validTitles</key>
			<array>
				<string>Lock Screen</string>
				<string>Notification Center</string>
				<string>Both LS and NC</string>
				<string>Either LS or NC</string>
				<string>Badges</string>
				<string>Sounds</string>
				<string>Both Badges and Sounds</string>
				<string>Either Badges or Sounds</string>
				<string>Anything Except Disallowed</string>
				<string>Anything</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>key</key>
			<string>OnWiFiOnly</string>
			<key>label</key>
			<string>On WiFi Only</string>
		</dict>

		<!--  Services -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>NSPServiceListController</string>
			<key>label</key>
			<string>Services</string>
		</dict>

		<!--  Services -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Support</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@NoahSaso</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
	</array>
	<key>title</key>
	<string>Pusher</string>
</dict>
</plist>
