<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Each app has custom notification settings that determine where their notifications are allowed to show (in Settings —> Notifications). This menu allows you to restrict Pusher to only send a notification if the app's notification settings have either all (AND) or at least one (OR) of the selected options below. Selecting AND requires all of the enabled options below to be enabled in the app's settings. Selecting OR requires only one of the enabled options below to be enabled in the app's settings.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>SufficientNotificationSettingsIsAnd</string>
			<key>validTitles</key>
			<array>
				<string>AND</string>
				<string>OR</string>
			</array>
			<key>validValues</key>
			<array>
				<true/>
				<false/>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>When using OR, you will probably want to require that Allow Notifications is enabled in the app's notification settings in addition to other settings. This is because the device saves the rest of the settings (e.g. Lock Screen, Badges, etc.) even when you turn off Allow Notifications in the app's notification settings. For example, if you install a new app and don't allow push notifications, the rest of the settings still default to on. If you select OR, Lock Screen, and Sounds below for example, even the apps that hide all notifications will be sent through Pusher. This fixes that. When this option is on, you will probably want to disable the 'Allow Notifications' switch below. If you are confused, leave this setting on.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>key</key>
			<string>SNSORRequireAllowNotifications</string>
			<key>label</key>
			<string>Require Allow Notifications with OR</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Shows Previews works when it is set to Always or When Unlocked.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>key</key>
			<string>SNS-AllowNotifications</string>
			<key>label</key>
			<string>Allow Notifications</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>key</key>
			<string>SNS-LockScreen</string>
			<key>label</key>
			<string>Lock Screen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>key</key>
			<string>SNS-NotificationCenter</string>
			<key>label</key>
			<string>Notification Center</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>key</key>
			<string>SNS-Banners</string>
			<key>label</key>
			<string>Banners</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>key</key>
			<string>SNS-Badges</string>
			<key>label</key>
			<string>Badges</string>
		</dict>
		<!--
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>key</key>
			<string>SNS-Sounds</string>
			<key>label</key>
			<string>Sounds</string>
		</dict>
		-->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.noahsaso.pusher/prefs</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.noahsaso.pusher</string>
			<key>key</key>
			<string>SNS-ShowsPreviews</string>
			<key>label</key>
			<string>Shows Previews</string>
		</dict>
	</array>
	<key>title</key>
	<string>Sufficient Notification Settings</string>
</dict>
</plist>
